MorseCodeApp.app.dSYM.zip
MorseCodeApp.ipa
Pods/
Podfile.lock
*xcschememanagement.plist
MorseCodeApp.xcworkspace/contents.xcworkspacedata
MorseCodeApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MorseCodeApp.xcworkspace/xcuserdata/*/xcdebugger/*
fastlane/README.md
fastlane/report.xml
Gemfile.lock
